{% extends "base.html" %}
{% block body %}
{% from 'macros.html' import render_pagination %}

<h1>{{ _('Push mirrors') }}</h1>

<a class="btn btn-success" href="{{url_for('push_mirror_index.new_mirror')}}"><i class="fa fa-plus" aria-hidden="true"></i> {{ _('Add') }}</a>

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>{{ _('VCS') }}</th>
        <th>{{ _('Project name') }}</th>
        <th>{{ _('Mirror') }}</th>
        <th>{{ _('Webhook') }}</th>
        <th>{{ _('Last sync') }}</th>
        <th>{{ _('Created') }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in pagination.items %}
    {% set webhook_url = url_for('api_index.schedule_sync_push_mirror', mirror_id=item.id, token=item.hook_token, _external=True) %}
    <tr class="{{item.task_results.first()|format_task_status_class}}" title="{{item.note}}">
        <th scope="row">{{item.id}}</th>
        <td>{{item.foreign_vcs_type|format_vcs}}</td>
        <td class="text-nowrap">{{item.project.name_with_namespace}}</td>
        <td>{{item.project_mirror}}</td>
        <td><input type="url" class="form-control" readonly="readonly" title="{{webhook_url}}" value="{{webhook_url}}"></td>
        <td>{{item.last_sync|format_datetime}}</td>
        <td>{{item.created|format_datetime}}</td>
        <td class="text-nowrap">
            {% if item.target %}
                <a class="btn btn-xs btn-default" href="{{url_for('push_mirror_index.schedule_sync_mirror', mirror_id=item.id)}}"><i class="fa fa-map-signs" aria-hidden="true"></i> {{ _('Trigger sync') }}</a>
            {% endif %}
            <a class="btn btn-xs btn-info" href="{{url_for('push_mirror_index.log', mirror_id=item.id)}}" title="{{ _('Log') }}"><i class="fa fa-file" aria-hidden="true"></i></a>
            <a class="btn btn-xs btn-primary" href="{{url_for('push_mirror_index.edit_mirror', mirror_id=item.id)}}" title="{{ _('Edit') }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a class="btn btn-xs btn-danger confirm" data-confirm-message="{{_('Are you sure you want to delete this mirror ?')}}" href="{{url_for('push_mirror_index.schedule_delete_mirror', mirror_id=item.id)}}" title="{{ _('Delete') }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="text-center">
{{render_pagination(pagination)}}
</div>
{% endblock %}
