{% extends "base.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<div class="row top-buffer">
    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ _("New push mirror") }}</h3>
            </div>
            <div class="panel-body">
                {% if form.errors %}
                <div class="alert alert-danger">
                    {{_("There was some errors when proccesing a form.")}}

                    <ul>
                        {% for field, errors in form.errors.items() %}
                        <li>
                            {{field}}:
                            <ul>
                                {% for error in errors %}
                                <li>{{error}}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
                {% endif %}
                <form method="post" role="form" action="{{url_for('push_mirror_index.new_mirror')}}">
                    <div class="row">
                        {% include 'url_info.html' %}
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group{{ ' has-error' if form.project_mirror.errors else '' }}">
                              <label class="sr-only" for="{{form.project_mirror.id}}">{{_('Project mirror')}}</label>
                              {{form.project_mirror(class_="form-control input-sm check-signature", **{'placeholder': _('Project mirror'), 'data-toggle':"popover", 'data-trigger':"focus ", 'data-placement': "bottom", 'data-fingerprint-url': url_for('fingerprint_index.check_hostname_fingerprint'), 'data-fingerprint-add-url': url_for('fingerprint_index.add_hostname_fingerprint'), 'data-gitlab-url': config['GITLAB_SSH'], 'data-content': '<br>'.join(form.project_mirror.errors)})}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            {{render_field(form.note, 'form-group', _('Note'))}}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group{{ ' has-error' if form.project.errors else '' }}">
                            <label class="sr-only" for="{{form.project.id}}">{{_('Project')}}</label>
                                {{form.project(class_="form-control input-sm project-search", **{'placeholder': _('Project'), 'data-toggle':"popover", 'data-trigger':"focus ", 'data-placement': "bottom", 'data-content': '<br>'.join(form.project.errors), 'data-source': url_for('api_index.search_project'), 'data-selected-url': url_for('api_index.get_gitlab_project', project_id=form.project.data) if form.project.data})}}
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{form.is_force_update(class_="", **{'data-toggle':"popover", 'data-trigger':"focus",
                            'data-placement': "bottom", 'data-content': '<br>'.join(form.is_force_update.errors)})}}
                            Enable force fetching and pushing.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{form.is_prune_mirrors(class_="", **{'data-toggle':"popover", 'data-trigger':"focus",
                            'data-placement': "bottom", 'data-content': '<br>'.join(form.is_prune_mirrors.errors)})}}
                            Enable pruning mirror.
                        </label>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="submit" value="{{_('Save')}}" class="btn btn-info btn-block">
                        </div>
                    </div>
                    {{ form.csrf_token }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}