{% extends "base.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<div class="row top-buffer">
    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ _("New fingerprint") }}</h3>
            </div>
            <div class="panel-body">
                {% if form.errors %}
                <div class="alert alert-danger">
                    {{_("There was some errors when proccesing a form.")}}

                    <ul>
                        {% for field, errors in form.errors.items() %}
                        <li>
                            {{field}}:
                            <ul>
                                {% for error in errors %}
                                <li>{{error}}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
                {% endif %}
                <form method="post" role="form" action="{{url_for('fingerprint_index.new_fingerprint')}}">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group{{ ' has-error' if form.hostname.errors else '' }}">
                              <label class="sr-only" for="{{form.hostname.id}}">{{_('Domain')}}</label>
                              {{form.hostname(class_="form-control input-sm check-signature", **{'placeholder': _('Domain'), 'data-toggle':"popover", 'data-trigger':"focus ", 'data-fingerprint-url': url_for('fingerprint_index.check_hostname_fingerprint'), 'data-fingerprint-add-url': url_for('fingerprint_index.add_hostname_fingerprint'), 'data-gitlab-url': config['GITLAB_SSH'], 'data-placement': "bottom", 'data-content': '<br>'.join(form.hostname.errors)})}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <button type="submit" class="btn btn-info btn-block">{{_('Save')}}</button>
                        </div>
                    </div>
                    {{ form.csrf_token }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}