{% extends "base.html" %}
{% block body %}
{% from 'macros.html' import render_pagination %}

<h1>{{ _('Fingerprints') }}</h1>

<a class="btn btn-success" href="{{url_for('fingerprint_index.new_fingerprint')}}"><i class="fa fa-plus" aria-hidden="true"></i> {{ _('Add') }}</a>

<table class="table table-hover">
    <thead>
    <tr>
        <th>{{_("Hostname")}}</th>
        <th>{{_("Keys")}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in host_keys_proccessed %}
    <tr>
        <th scope="row" title="{{item['title']}}"><span class="text-{{item['color_class']}}">{{item['hostname']}}</span></th>
        <td>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            {{_('Type')}}
                        </th>
                        <th>
                            {{_('MD5 Fingerprint')}}
                        </th>
                        <th>
                            {{_('SHA256 Fingerprint')}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for key in item['keys'] %}
                    <tr>
                        <td>
                            {{key['type']}}
                        </td>
                        <td>
                            {{key['md5_fingerprint']}}
                        </td>
                        <td>
                            {{key['sha256_fingerprint']}}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
        <td>
            <a class="btn btn-xs btn-danger confirm" data-confirm-message="{{_('Are you sure you want to delete this fingerprint ?')}}" href="{{url_for('fingerprint_index.delete_fingerprint', hostname=item['hostname'])}}" title="{{ _('Delete') }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
