{% extends "base.html" %}
{% from 'macros.html' import render_pagination %}
{% block body %}

<h1>{{ _('GitLab Tools') }}</h1>

<h2>{{_('Your public key')}} <a href="{{url_for('home_index.get_new_rsa_key')}}" class="btn btn-xs btn-danger confirm" data-confirm-message="{{_("This action will make all services using a old key inoperable")}}">{{_("Request new key")}}</a></h2>
{% if private_key %}
    <pre>{{private_key.get_name()}} {{private_key.get_base64()}}</pre>
    <h3>{{_('MD5 Fingerprint')}}
    <pre>{{fingerprint_md5}}</pre>
    <h3>{{_('SHA256 Fingerprint')}}
    <pre>{{fingerprint_sha256}}</pre>
{% else %}
        <div class="alert alert-info">Not yet generated... is celeryworker runnung ?</div>
{% endif %}

<h2>{{_('Pull mirrors : %(pull_mirrors_count)s', pull_mirrors_count=pull_mirrors_count)}}</h2>
<h2>{{_('Push mirrors : %(push_mirrors_count)s', push_mirrors_count=push_mirrors_count)}}</h2>

{% endblock %}