{% set layout = 'login' %}
{% extends "base.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<div class="row justify-content-md-center align-items-center h-100">
    <div class="col-xs-12 col-sm-8 col-md-4">
        <div class="card">
            <div class="card-header">
                {{ "Sign In" }}
            </div>
            <div class="card-body text-center">
                <a href="{{url_for('sign_index.request_login')}}" class="btn btn-primary btn-lg">{{ "Sign In" }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}