{% extends "base.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<div class="row centered-form vertical-center">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ "Sign In" }}</h3>
            </div>
            <div class="panel-body text-center">
                <a href="{{url_for('sign_index.request_login')}}" class="btn btn-primary btn-lg">{{ "Sign In" }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}