{% extends "base.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<div class="row top-buffer">
    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ _("New pull mirror") }}</h3>
            </div>
            <div class="panel-body">
                {% if form.errors %}
                <div class="alert alert-danger">
                    {{_("There was some errors when proccesing a form.")}}

                    <ul>
                        {% for field, errors in form.errors.items() %}
                        <li>
                            {{field}}:
                            <ul>
                                {% for error in errors %}
                                <li>{{error}}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
                {% endif %}
                <form method="post" role="form" action="{{url_for('pull_mirror_index.new_mirror')}}">
                    <div class="row">
                        {% include 'url_info.html' %}
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group{{ ' has-error' if form.project_mirror.errors else '' }}">
                                <label class="sr-only" for="{{form.project_mirror.id}}">{{_('Project mirror')}}
                                    *</label>
                                {{form.project_mirror(class_="form-control input-sm check-signature", **{'placeholder':
                                _('Project mirror') + ' *', 'data-toggle':"popover", 'data-trigger':"focus ",
                                'data-placement': "bottom", 'data-fingerprint-url':
                                url_for('fingerprint_index.check_hostname_fingerprint'), 'data-fingerprint-add-url':
                                url_for('fingerprint_index.add_hostname_fingerprint'), 'data-gitlab-url':
                                config['GITLAB_SSH'], 'data-content': '<br>'.join(form.project_mirror.errors)})}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <label class="sr-only" for="{{form.project_name.id}}">{{_('Project name')}} *</label>
                            {{render_field(form.project_name, 'form-group', _('Project name') + ' *')}}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group{{ ' has-error' if form.group.errors else '' }}">
                                <label class="sr-only" for="{{form.group.id}}">{{_('Group')}} *</label>
                                {{form.group(class_="form-control input-sm group-search", **{'placeholder': _('Group') +
                                ' *', 'data-toggle':"popover", 'data-trigger':"focus ", 'data-placement': "bottom",
                                'data-content': '<br>'.join(form.group.errors), 'data-source':
                                url_for('api_index.search_group'), 'data-selected-url': url_for('api_index.get_gitlab_group',
                                group_id=form.group.data) if form.group.data})}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group{{ ' has-error' if form.periodic_sync.errors else '' }}">
                                <label class="sr-only" for="{{form.periodic_sync.id}}">{{_('Periodic sync (CRON expression)')}}</label>
                                {{form.periodic_sync(class_="form-control input-sm", **{'placeholder': _('Periodic sync (CRON expression)'), 'data-toggle':"popover", 'data-trigger':"focus ", 'data-placement':
                                "bottom", 'data-content': '<br>'.join(form.periodic_sync.errors)})}}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <label class="sr-only" for="{{form.note.id}}">{{_('Note')}}</label>
                            {{render_field(form.note, 'form-group', _('Note'))}}
                        </div>
                    </div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#advancedOptions"
                            aria-expanded="false" aria-controls="advancedOptions">
                        Advanced options
                    </button>
                    <div class="collapse" id="advancedOptions">
                        <div class="well">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="form-group{{ ' has-error' if form.group.errors else '' }}">
                                        <label for="{{form.visibility.id}}">{{_('Visibility')}} *</label>
                                        {{form.visibility(class_="form-control input-sm", **{'placeholder': _('Visibility') +
                                        ' *', 'data-toggle':"popover", 'data-trigger':"focus ", 'data-placement': "bottom",
                                        'data-content': '<br>'.join(form.visibility.errors)})}}
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{form.is_no_create(class_="", **{'data-toggle':"popover", 'data-trigger':"focus",
                                    'data-placement': "bottom", 'data-content': '<br>'.join(form.is_no_create.errors)})}}
                                    Do not resolve remote to GitLab
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{form.is_force_create(class_="", **{'data-toggle':"popover",
                                    'data-trigger':"focus",
                                    'data-placement': "bottom", 'data-content': '<br>'.join(form.is_force_create.errors)})}}
                                    Create project in GitLab even if it already exists.
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{form.is_no_remote(class_="", **{'data-toggle':"popover", 'data-trigger':"focus",
                                    'data-placement': "bottom", 'data-content': '<br>'.join(form.is_no_remote.errors)})}}
                                    This is a local only mirror.
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{form.is_issues_enabled(class_="", **{'data-toggle':"popover",
                                    'data-trigger':"focus",
                                    'data-placement': "bottom", 'data-content': '<br>'.join(form.is_issues_enabled.errors)})}}
                                    Issues enabled
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{form.is_wall_enabled(class_="", **{'data-toggle':"popover",
                                    'data-trigger':"focus",
                                    'data-placement': "bottom", 'data-content': '<br>'.join(form.is_wall_enabled.errors)})}}
                                    Wall enabled
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{form.is_wiki_enabled(class_="", **{'data-toggle':"popover",
                                    'data-trigger':"focus",
                                    'data-placement': "bottom", 'data-content': '<br>'.join(form.is_wiki_enabled.errors)})}}
                                    Wiki enabled
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{form.is_snippets_enabled(class_="", **{'data-toggle':"popover",
                                    'data-trigger':"focus",
                                    'data-placement': "bottom", 'data-content': '<br>'.join(form.is_snippets_enabled.errors)})}}
                                    Snippets enabled
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{form.is_merge_requests_enabled(class_="", **{'data-toggle':"popover",
                                    'data-trigger':"focus",
                                    'data-placement': "bottom", 'data-content': '<br>'.join(form.is_merge_requests_enabled.errors)})}}
                                    Merge requests enabled
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{form.is_force_update(class_="", **{'data-toggle':"popover",
                                    'data-trigger':"focus",
                                    'data-placement': "bottom", 'data-content': '<br>'.join(form.is_force_update.errors)})}}
                                    Enable force fetching and pushing.
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{form.is_prune_mirrors(class_="", **{'data-toggle':"popover",
                                    'data-trigger':"focus",
                                    'data-placement': "bottom", 'data-content': '<br>'.join(form.is_prune_mirrors.errors)})}}
                                    Enable pruning mirror.
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{form.is_jobs_enabled(class_="", **{'data-toggle':"popover",
                                    'data-trigger':"focus",
                                    'data-placement': "bottom", 'data-content': '<br>'.join(form.is_jobs_enabled.errors)})}}
                                    Enable CI jobs.
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="row top-buffer">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <button type="submit" class="btn btn-info btn-block">{{_('Save')}}</button>
                        </div>
                    </div>
                    {{ form.csrf_token }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}