[Unit]
Description=GitLab Tools Service Celery beat
Requires=network.target

[Service]
User=gitlab-tools
Type=simple
Restart=on-failure
RemainAfterExit=yes
ExecStart=/usr/bin/gitlab-tools celerybeat --config_prod --pid=/run/backuptron/celerybeat.pid
PIDFile=/run/backuptron/celerybeat.pid

[Install]
WantedBy=multi-user.target
