[Unit]
Description=GitLab Tools Service Celery beat
Requires=network.target

[Service]
User=gitlab-tools
Type=simple
Restart=on-failure
RemainAfterExit=yes
ExecStart=/usr/bin/gitlab-tools celerybeat --config_prod --pid=${HOME}/celerybeat.pid --schedule=${HOME}/celery_beat.db

[Install]
WantedBy=multi-user.target
